{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<a href="{% url 'add_client' %}" class="btn btn-outline-primary">Add Client</a>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
    </tr>
  </thead>
  <tbody>
    {% for i in clients %}
    <tr>
      <td>{{ i.user.username }}</td>
      <td>{{ i.name }}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.password }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
